* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: 	#FFEBEE;
}

.navbar {
  width: 100%;
}

.navbar .container {
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: 	#EF9A9A;
}

.navbar .container a {
  text-decoration: none;
  font-size: 40px;
  color: #fff;
}

.container {
  margin-top: 20px;
}

.container button {
  margin: 15px;
  background-color: 	#EF9A9A;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  text-align: center; 
  color: #fff;
}

.result {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.abc{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


